# Graded Assignment 3: 9 to 5

Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.

## The Dataset

For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on [Kaggle](https://www.kaggle.com/datasets/bls/employment).

## Business Issue

You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.

## About the Dataset

This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:

1. The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.
1. Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.

## Set Up

To connect to the database, use the same connection info used during the SQL lessons. 

For the assignment, we will be using `LaborStatisticsDB`.

## Database Exploration

To start with, let’s get to know the database further.

1. Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with `LaborStatisticsDB`.
   
   To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the link button to the right of the  </> symbol in the gray part of this cell, the link is just the name of your file.

Problem Statement

The Bureau of Labor Statistics (BLS) collects a lot of data through the Current Employment Survey (CES). Because there is so much information, it can be hard for other organizations to understand and use it correctly.Dolly Parton’s nonprofit created the 9 to 5 Project to study this data and see how production and nonsupervisory workers compare to all employees across different industries in the United States.The main goal of this project is to find, organize, and study the right information from the LaborStatisticsDB database to discover useful insights. By using SQL queries and analyzing the data, the project hopes to uncover trends and differences between groups of employees. These insights can help show how working conditions vary and support better decisions for improving jobs and policies.


Database Overview

The LaborStatisticsDB database holds several connected tables that include information about industries, employment numbers, job types, and earnings. Each table contains data such as industry codes, data type codes and yearly or monthly statistics.

1. Table Details
annual_2016 (Stores employment-related data collected for the year 2016)
column Name          Data Type                  Description
id               INT,Not null               primary key 
series_id        NVARCHAR (50), NOT NULL    Identifies the specific type of data
year             INT,NOT NULL               Identifies when the data was collected
period           NVARCHAR,Not NULL          Identifies when the data was collected
value            FLOAT,NOT NULL             Stores the actual statistical measurement
footnote_codes   NVARCHAR,NULL              Include additional information or exceptions related to the data
original_file    NVARCHAR,NOT NULL          Shows which source file the record came from

2. Table Details
datatype (Contains the types of data collected, such as employment, hours, and earnings)
column Name           Data Type                     Description
data_type_code      INT,Not null               Primary Key , identifies each type of data collected
data_type_text      NVARCHAR (50), NOT NULL    what the code stands for Employment or Hourly earnings

3. Table Details
footnote (Holds additional notes and explanations)
column Name           Data Type                     Description
footnote_code      NVARCHAR(50),NOT NULL       A unique code used to identify each note      
footnote_text      NVARCHAR(100),NOT NULL      The note or explanation that gives more information about the data

4. Table Details 
industry (Identifies industries by NAICS and BLS codes)
Column Name            Datatypes                    Description
id                INT,NOT NULL                Unique identifier for each industry
industry_code     BIGINT,NOT NULL             BLS-specific code for the industry
naics_code        NVARCHAR(50),NOT NULL       NAICS code for the industry
publishing_status NVARCHAR(50),NOT NULL       Indicates the industry data is published
industry_name     NVARCHAR(100),NULL          Name of the industry
display_level     INT,NULL                    Level of detail for displaying the industry
selectable        NVARCHAR(50),NULL           Indicates if the industry can be selected in queries or reports
sort_sequence     INT,NULL                    Order in which industries appear in lists or reports

5. Table Details
january_2017 (Stores employment-related data collected for the year 2017)
Column Name         Datatypes                   Description
id              BIGINT,NOT NULL             Unique identifier for each record
series_id       NVARCHAR(50),NOT NULL       Identifier for the specific data series
year            SMALLINT,NOT NULL           Year of the data (2017)
period          NVARCHAR,NOT NULL           Month or time period of the data          
value           FLOAT,NOT NULL              The measured value (e.g., employment number)
footnote_codes  NVARCHAR,NULL               References any notes or explanations for the data
original_file   NVARCHAR,NOT NULL           Name of the source file for the record

6. Table Details
period (Shows the month or period abbreviation)
Column Name         Datatypes                 Description
period_code   NVARCHAR(50),NOT NULL      Unique code for the period
month_abbr    NVARCHAR(50),NOT NULL      Abbreviated month name (e.g., Jan, Feb)
month         NVARCHAR(50),NOT NULL      Full month name (e.g., January, February)

7. Table Details
seasonal (Indicates if the data is seasonally adjusted)
Column Name            Datatypes                   Description
industry_code    NVARCHAR(50),NOT NULL     Code identifying the industry
seasonal_text    NVARCHAR(50),NOT NULL     Indicates if the data is seasonally adjusted (e.g., Seasonally Adjusted or Not Seasonally Adjusted)

8. Table Details
series(Main table linking industry,data type and seasonal information)
Column Name            Datatypes                     Description
series_id        NVARCHAR(50),NOT NULL       Unique ID for each data series
supersector_code BIGINT,NOT NULL             Code for the broader industry category     
industry_code    NVARCHAR(50),NOT NULL       Code identifying the specific industry
data_type_code   BIGINT,NOT NULL             Code identifying the type of data (employment, hours, earnings)
seasonal         NVARCHAR,NOT NULL           Indicates if data is seasonally adjusted
series_title     NVARCHAR(100),NOT NULL      Descriptive title of the data series

9. Table Details
superSector(Categorizes industries into broader groups)
Column Name            Datatypes                 Description
supersector_code  TINYINT,NOT NULL           Unique code for the supersector
supersector_name  NVARCHAR(50),NOT NULL      Name of the broader industry category

[ER Diagram PDF](ER diagram.pdf)

Below is the Entity Relationship (ER) Diagram for the LaborStatisticsDB database, which shows how all tables are linked through their primary and foreign keys.


How Tables are connected

The series table serves as the central link, connecting most other tables through series_id, data_type_code, and industry_code. The annual_2016 and january_2017 tables relate back to series via series_id. The industry table connects to series through industry_code, while the datatype table links through data_type_code. The period table provides descriptive information for each time period, whether monthly or annual.

Overall, this schema enables comprehensive analysis of employment trends, wages, and hours across a variety of industries and time periods.

2. What is the datatype for women employees?

The datatype for women employees is NVARCHAR(100) because the data_type_text column stores text like Women Employees using NVARCHAR

3. What is the series id for  women employees in the commercial banking industry in the financial activities supersector?

In [ ]:
CES0500000010

## Aggregate Your Friends and Code some SQL

Put together the following:

1. How many employees were reported in 2016 in all industries? Round to the nearest whole number.

2. How many women employees were reported in 2016 in all industries? Round to the nearest whole number.

3. How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.

4. In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?

5. What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny.

6. In January 2017, for which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?

7. In January 2021, for which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?

## Join in on the Fun

Time to start joining! You can choose the type of join you use, just make sure to make a  note!

1. Join `annual_2016` with `series` on `series_id`. We only want the data in the `annual_2016` table to be included in the result.

In [2]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
-- SELECT TOP 50 *


-- Uncomment the line below when you are ready to run the query, leaving it as your last!
-- ORDER BY id

2. Join `series` and `datatype` on `data_type_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
-- SELECT TOP 50 *


-- Uncomment the line below when you are ready to run the query, leaving it as your last!
-- ORDER BY id

3. Join `series` and `industry` on `industry_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
-- SELECT TOP 50 *


-- Uncomment the line below when you are ready to run the query, leaving it as your last!
-- ORDER BY id

## Subqueries, Unions, Derived Tables, Oh My!

1. Write a query that returns the `series_id`, `industry_code`, `industry_name`, and `value` from the `january_2017` table but only if that value is greater than the average value for `annual_2016` of `data_type_code` 82.

**Optional Bonus Question:** Write the above query as a common table expression!

In [ ]:
-- Optional CTE below

2. Create a `Union` table comparing average weekly earnings of production and nonsupervisory employees between `annual_2016` and `january_2017` using the data type 30.  Round to the nearest penny.  You should have a column for the average earnings and a column for the year, and the period.

## Summarize Your Results

With what you know now about the  Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the Labor Statistics Database, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.

1. During which time period did production and nonsupervisory employees fare better?

2. In which industries did production and nonsupervisory employees fare better?

3. Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?